html{
  scroll-behavior: smooth;
}
.App {
  height: auto;
  text-align: center;
}
.searchbarnav{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
 
}
.footer{
  position: sticky;
  bottom: 0px;
}
